<server description="liberty" onConflict="Replace">
    <!-- Requires liberty server installed through nedj-liberty-server -->
    <!-- This must be the first entry in the server xml otherwise overrides will not work -->
    <include optional="true" location="${server.config.dir}/baseServer.xml" />

    <!--    <jdbcDriver id="postgresql-driver"
                    javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"
                    javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource"
                    libraryRef="postgresql-library"/>-->

    <library id="DB2Lib">
        <fileset dir="C:\Users\bbdnet2758\.m2\repository\com\ibm\db2\jcc\db2jcc4\11.1" includes="db2jcc4-11.1.jar"/>
    </library>

    <!-- Declare the IBM Application Center database. -->
    <dataSource id="db2" jndiName="jdbc/nfpe" transactional="false">
        <jdbcDriver libraryRef="DB2Lib"/>
        <properties.db2.jcc databaseName="testdb"  currentSchema="DOGS"
                            serverName="localhost" portNumber="50000"
                            user="db2inst1" password="db2devon"/>
    </dataSource>


</server>
