<server description="liberty" onConflict="Replace">
    <!-- Requires liberty server installed through nedj-liberty-server -->
    <!-- This must be the first entry in the server xml otherwise overrides will not work -->
    <include optional="true" location="${server.config.dir}/baseServer.xml" />

    <featureManager>
        <feature>jca-1.7</feature>
        <feature>jms-2.0</feature>
        <feature>jndi-1.0</feature>
        <feature>servlet-3.1</feature>
        <feature>jmsMdb-3.2</feature>
        <feature>wasJmsServer-1.0</feature>
        <feature>wasJmsClient-2.0</feature>
        <feature>wasJmsSecurity-1.0</feature>
        <feature>wmqJmsClient-2.0</feature>
        <feature>mdb-3.2</feature>
        <feature>transportSecurity-1.0</feature>
    </featureManager>

    <sslDefault outboundSSLRef="outboundSSLSettings"/>

    <ssl id="outboundSSLSettings"
         keyStoreRef="outboundKeyStore"
         trustStoreRef="outboundTrustStore"/>
    />

    <keyStore id="outboundKeyStore"
              location="key.p12"
              password="changeit"/>

    <keyStore id="outboundTrustStore"
              location="key.p12"
              password="changeit" />



    <dataSource id="db2" jndiName="jdbc/nfpe" connectionSharing="MatchCurrentState"
                isolationLevel="TRANSACTION_READ_COMMITTED" statementCacheSize="20">
        <connectionManager maxPoolSize="20" minPoolSize="5"
                           connectionTimeout="10s" agedTimeout="30m"/>
        <jdbcDriver libraryRef="work"/>
        <properties.db2.jcc driverType="4" serverName="localhost"
                            portNumber="50000" databaseName="testdb" currentSchema="DOGS"
                            user="db2inst1" password="db2devon"/>
    </dataSource>

    <library id="work">
        <fileset  dir="C:\Users\bbdnet2758\.m2\repository\com\ibm\db2\jcc\db2jcc4\11.1"
                 includes="db2jcc4-11.1.jar"/>
    </library>


</server>
